# npm
node_modules
package-lock.json

# Electron-builder output
/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
npminstall-debug.log
/logs/*

tests
cert/*
.DS_Store

dev-app-update.yml
REMARK.md

cert

/index.js
/updater.dev.json